:root {
    --bg-color: #1E202A;
    --code-bg-color: #2B2E3B;
    --black: #000;
    --white: #FFF;
    --almost-white: #F8F8F8;
    --grey: #8E8F94;
    --yellow: #FFE953;
    --dark-yellow: #CCA731;
    --green: #7EA232;
    --dark-green: #375D07;
    --orange: #FD971F;
    --purple: #A081FF;
    --title-size: 2em;
    --description-size: 1.25em;
    --text-size: 1.25em;
    --topic-size: 1.4em;
    --margin: 50px;
    --button-border-radius: 10px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

#site {
    width: 100%;
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#top {
    color: var(--white);
}

#top p {
    text-align: center;
}

#top p.title {
    font-size: var(--title-size);
}

#top p.description {
    font-size: var(--description-size);
}

#main-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#main-content :first-child {
    margin-right: var(--margin);
}

#main-content :last-child {
    margin-left: var(--margin);
}

@media only screen and (max-width: 992px) {
    #main-content {
        flex-flow: column wrap;
        justify-content: center;
    }

    #main-content :first-child {
        margin-right: 0px;
    }
    
    #main-content :last-child {
        margin-left: 0px;
    }
}

#main-content div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#main-content .title {
    text-align: center;
    color: var(--yellow);
    font-weight: bold;
    font-size: var(--title-size);
}

#main-content .text {
    color: var(--almost-white);
    text-align: center;
    font-size: var(--text-size);
}

#main-content button {
    background-color: var(--yellow);
    color: var(--dark-green);
    font-weight: bold;
    font-size: var(--topic-size);
    border: none;
    cursor: pointer;
    border-radius: var(--button-border-radius);
}

#main-content button:hover {
    background-color: var(--dark-yellow);
}

#bottom {
    color: var(--white);
    font-size: var(--text-size);
}

#bottom a {
    color: white;
}